{% load static %}
{% load sass_tags %}
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <h3>Layout</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Starter Kit</li>
          <li class="breadcrumb-item">{{breadcrumb.parent}}</li>
          <li class="breadcrumb-item active">{{breadcrumb.child}}</li>
        </ol>
      </div>

    </div>
  </div>
</div>